body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #c27dfc;
        /* COLOR SCHEME
    background-color: #243B67;
    background-color: #6e5dcf;
    background-color: #c27dfc;
    background-color: #eaebed;
    */
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #243b67;
    height: 6em;
}

#title {
    text-align: center;
    margin: 64px;
    color: #c27dfc;


    font-size: 2.5em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.img-container {
    display: flex;
    justify-content: space-between;
    margin: 4em;
    margin-left: 12em;
    margin-right: 12em;
}

.players {
    width: 228px;
    height: 228px;
    background-color: #c27dfc;
}

.btn-container {
    display: flex;
    justify-content:space-between;
    
    margin-left: 4em;
    margin-right: 4em;
}

.rps-container-player {
    display: flex;
    gap: 2em;
}


.rps-container-pc {
    display: flex;
    gap: 2em;
}


.rps {
    color: #c27dfc;
    background-color:#243b67 ;
    transition: all .07s ease;

    width: 10rem;
    height: 4rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;

    border-radius: 0.5rem;
    border:solid .25rem #6e5dcf;
}

#rock, #paper, #scissors, #reset {
    cursor: pointer;
}

#rock:hover, #paper:hover, #scissors:hover {
    opacity: 1; 
    /* hover glow */
    -webkit-box-shadow: 0px 0px 20px #eaebed;
    -moz-box-shadow: 0px 0px 20px #eaebed;
    box-shadow: 0px 0px 20px #eaebed;
}

.selected {
    transform: scale(1.1);
    border: solid;
    border-color: #eaebed;
    box-shadow: 0 0 .5rem #eaebed;
}


.reset-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 4em;
}

#reset {
    color: #c27dfc;
    background-color:#243b67 ;
    width: 10rem;
    height: 4rem;
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    border-radius: 0.5rem;
    border:solid .25rem #6e5dcf;
}

#reset:hover {
    opacity: 1; 
    /* hover glow */
    -webkit-box-shadow: 0px 0px 20px #eaebed;
    -moz-box-shadow: 0px 0px 20px #eaebed;
    box-shadow: 0px 0px 20px #eaebed;
}



#gameLog{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 228px;
    width: 528px;

    animation: fadeIn 2.5s;

    font-size: 2em;
    color: #243b67;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}