body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #eaebed;
}

#title {
    text-align: center;
    margin: 64px;
}

.img-container {
    display: flex;
    justify-content: space-between;
    margin: 4em;
}

.players {
    width: 228px;
    height: 228px;
}

.btn-container {
    display: flex;
    justify-content:space-between;
    
    margin-left: 4em;
    margin-right: 4em;
}

.rps-container-player {
    display: flex;
    gap: 2em;
}

.rps-container-pc {
    display: flex;
    gap: 2em;
}

.rps {
    background-color:aquamarine ;
    /* background-color: #243B67;
    background-color: #6e5dcf;
    background-color: #c27dfc;
    background-color: #eaebed; */
    width: 10em;
    height: 4em;
}

.reset-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 4em;
}

#reset {
    background-color: thistle;
    width: 10em;
    height: 4em;
}


#gameLog{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 228px;
    width: 228px;
}