body {
    padding: 0;
    margin: 0;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
}

#title {
    text-align: center;
    margin: 64px;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.players {
    width: 853px;
    height: 400px;
}

.rps-container {
    display: flex;
    gap: 2em;
    margin-left: 15em;
}

.rps {
    background-color:aquamarine ;
}

#reset {
    background-color: thistle;
}